@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Prada';
  src: url('/fonts/Recoleta Reg.otf');

}
* {
  font-family: 'Prada', serif;
  font-weight: normal;
}
@custom-variant dark (&:is(.dark *));
:root {
  --duration: 10s;
  --gap: 0.2rem;
}
@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}